<div id="footer">
	<br />
	<%= link_to "Contact", contact_path %> |
	<%= link_to "Help", help_path %> |
	<%= link_to "About", about_path %>
	<span style="float: right">design by <em>zsiga bácsi</em> | RailsTut <%= Date.today.year %>.</span>
	<div class="centered" style="margin-top: -20px">
		<%= image_tag("rails.png") %>
	</div>
</div>

