<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='hu' xml:lang='hu' xmlns='http://www.w3.org/1999/xhtml'>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<%= csrf_meta_tag %>
		<title><%= title %></title>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div id="content">
			<div class="padder">
				<div class="message">
					<% flash.each do |key, value| %>
						<div class="flash <%= key %>"><%= value %></div>
					<% end %>
				</div>
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
		</div>
		<div id="bottom_shadow"></div>
		<%= debug(params) if Rails.env.development? %>
	</body>
</html>

